.theme-default {
  --color-primary: 255 51 95;
  --color-secondary: 67 169 163;
  --color-body-bg: 248 250 252;
  --color-words: 55 58 60;
  --color-words-off: 55 58 60;
  --color-border: 236 238 239;
}

.theme-kayra {
  --color-primary: 6 97 99;
  --color-secondary: 205 190 120;
  --color-body-bg: 242, 242, 242;
  --color-words: 56 56 56;
  --color-words-off: 56 56 56;
  --color-border: 56 56 56;
}

// ...more themes
