---
import InfoItem from "./InfoItem.astro";
import { InfoItemData } from "./InfoItem.astro";
import Section from "./Section.astro"

const defunctProjects: InfoItemData[] = [
  {
    title: "Rotenium",
    description: "E-Commerce platform to sell digital assets with various payment methods.",
    from: "2018",
    url: "https://image.ibb.co/drnWUe/Rotenium.png"
  },
  {
    title: "AnonimSor",
    description: "A social media application for asking anonymous questions to others." ,
    from: "2017",
  },
  {
    title: "CarryWeb",
    description: "Minecraft server management panel to control users, sell in-game products.",
    from: "2017",
    url: "https://i.ibb.co/41MQmbV/image.png"
  },
] 
---

<Section title="Defunct/Closed Projects">
  <div class="defunct-row">
    {defunctProjects.map((item) => <InfoItem data={item} />)}
  </div>
</Section>

<style>
.defunct-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

  
@media (max-width: 768px) {
  .defunct-row {
    grid-template-columns: 1fr;
  }
}
</style>