<header>
  <h1>Furkan Demir</h1>
  <h2>front end developer, comp-sci enthusiast</h2>
  <nav>
    <ul>
      <li>
        <a href="https://github.com/fdemir" target="_blank">github</a>
      </li>
      <li>
        <a href="https://twitter.com/furkaneulogy" target="_blank">twitter</a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/furkan-demir-8a1345189/" target="_blank">linkedin</a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/furkan-demir-8a1345189/" target="_blank">resume</a>
      </li> 
      <li>
        <a href="https://www.linkedin.com/in/furkan-demir-8a1345189/" target="_blank">writing</a>
      </li>
    </ul>
  </nav>
</header>


<style>

  header {
    padding: 3em 0;
  }

  h1 {
    margin: 0;
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1rem;
    font-weight: 300;
    color: var(--color-secondary);
    opacity: .9;
  }

  nav ul {
    list-style: none;
    color: var(--color-secondary);
    padding: 0;
    display: flex;
    gap: 10px;
    margin: 0;
  }
</style>