---
const { data } = Astro.props
---
<a class="post" href={data.link} target="_blank">
  <h4>{data.title}</h4>
  <span>{new Date(data.pubDate).toLocaleDateString()}</span>
</a>

<style>
  .post {
    margin-bottom: 20px;
    display: flex;
  }

  .post span {
    color: var(--color-secondary);
    padding-left: 10px;
  }

</style>