---
import InfoItem from "./InfoItem.astro";
import type { InfoItemData } from "./InfoItem.astro";
import Section from "./Section.astro";

const defunctProjects: InfoItemData[] = [
  {
    title: "WatchAndChill",
    description: "Create collaborative watchlist with your friends.",
    url: "https://watchandchill.in",
  },
  {
    title: "Unhappy Hamster",
    description:
      "CLI tool that allows you to analyze customer sentiment in product reviews.",
    url: "https://watchandchill.in",
  },
  {
    title: "Geyik",
    description: "Look up origin of Turkish words at your terminal.",
    url: "https://watchandchill.in",
  },
  {
    title: "Kanalize",
    description: "AI Powered open-source idea generator.",
    url: "https://watchandchill.in",
  },
];
---

<Section title="Active Projects">
  <div class="defunct-row">
    {defunctProjects.map((item) => <InfoItem data={item} />)}
  </div>
</Section>

<style>
  .defunct-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  @media (max-width: 768px) {
    .defunct-row {
      grid-template-columns: 1fr;
    }
  }
</style>
