---
import PostItem from "./PostItem.astro";
import Section from "./Section.astro";
import Parser from "rss-parser";

let result;
try {
  const parser = new Parser();
  const data = await parser.parseURL("https://medium.com/feed/@dmrfurkan");

  result =
    data?.items &&
    data.items.map((post) => ({
      title: post.title,
      link: post.link,
      pubDate: post.pubDate,
    }));
} catch (error) {
  console.log(error);
}
---

<Section title="Writings">
  {result && result.map((post) => <PostItem data={post} />)}
</Section>
