---
import Header from "../components/Header.astro";
import "../assets/css/theme.css";
import Picker from "../features/theme/Picker";

export interface Props {
  title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Furkan Demir" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="front end developer, comp-sci enthusiast"
    />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Picker client:idle />
    <Header />
    <slot />
  </body>
</html>
<style>
  * {
    box-sizing: border-box;
  }

  :root {
    --font-size-base: 1rem;
    --font-family-base: system-ui, sans-serif;

    --color-bg: #000;
    --color-text: #fff;
    --color-secondary: #dfdfdfcc;
    --color-primary: #1db954;
  }

  body {
    margin: auto;
    padding: 0em 1em;
    max-width: 70ch;
    color: var(--color-text);
    background-color: var(--color-bg);
    position: relative;
    font-family: var(--font-family-base);
    font-size: var(--font-size-base);
    font-size-adjust: none;
    transition: background-color 0.2s ease-in-out;
  }

  :global(h3) {
    color: var(--color-secondary);
    font-weight: 800;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    text-align: left;
    margin-top: 0;
    font-size: 1rem;
  }

  :global(h4) {
    margin: 0;
  }

  :global(code) {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }

  :global(small) {
    color: #f0f0f0;
    font-weight: 400;
  }

  :global(a) {
    color: inherit;
    text-decoration: none;
  }

  :global(a):hover {
    color: var(--color-primary);
  }

  :global(ul) {
    list-style: none;
    padding-left: 10px;
  }
</style>
